<div class="private-square span5 offset2 text-center">
    
  <h1>Upload you DIY image</h1>
  <br/>
  <%= simple_form_for @post do |f| %>
  <%= f.input :title, label: 'What is your DIY Project?', placeholder: 'eg. DIY vase, DIY bedazzled chair, etc.' %>
  <br/>
  <%= f.input :description, label: 'Supplies:', placeholder: 'eg. Glue, Scissors, Ribbon, etc. '%>
  <br/> 
  <%= f.input :directions, label: 'Directions:', placeholder: 'eg. 1. Wrap ribbon around leg, 2. etc. '%>
  <br/>
  <%= f.input :image %>
  <br/>
  <%= f.button :submit, :class => 'btn btn-info' %>
  <% end%>
  
</div> 